$title-color:#191919;
$header-color:#436372;
$deafault-color:#8b8b8b;

%dmsans-800{
    font-family: 'DMSans-Bold',sans-serif;
    font-weight: 700;
}

%dmsans-500{
    font-family: 'DMSans-Medium',sans-serif;
    font-weight: 500;
}

%rubik-500{
    font-family: 'Rubik-Medium',sans-serif;
    font-weight: 500;
}

%rubik-400{
    font-family: 'Rubik-Regular',sans-serif;
    font-weight: 400;
}





