@import 'vars';
@import 'fonts';
@import 'reset';
@import 'lib';
@import 'global';


.header {
    padding-top: 60px;
    color: $header-color;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 55px;
        @extend %dmsans-800;
    }
}

.logo {
    position: relative;

    span {
        top: 0;
        left: 55px;
        font-size: 36px;
        position: absolute;
    }
}

.menu {
    font-size: 15px;

    &__item {
        display: flex;
    }

    &__list {
        margin-right: 35px;
    }

    &__list:last-child {
        margin: 0;
    }
}

.user-nav {
    padding-right: 15px;
    display: flex;
    align-items: flex-end;

    &__link {
        margin-right: 80px;
        position: relative;
    }

    &__link:last-child {
        margin-right: 0;
    }

    &__link:nth-child(2) {
        margin-right: 60px;
    }

    &__link::before {
        content: "";
        position: absolute;
    }

    &__item {
        position: relative;
    }

    &__link--round::before {

        width: 52px;
        height: 52px;
        background-color: #edf1f4;
        top: -18px;
        right: -18px;
        border-radius: 50%;

    }


    &__link--peach::before {
        width: 178px;
        height: 51px;
        background-color: #fcd7b6;
        top: -20px;
        left: -35px;
        border-radius: 25px;

    }


    &__link--blue::before {
        content: "";
        width: 52px;
        height: 52px;
        background-color: #a3bbc8;
        top: -16px;
        right: -16px;
        border-radius: 50%;
    }

    &__img {
        position: relative;
        z-index: 1;
    }

    &__img--heart {
        transform: scaleX(-1);
    }

    &__number {
        text-align: center;
        position: absolute;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        font-size: 10px;
        top: -5px;
        right: -7px;
        background-color: #ffffff;
        z-index: 2;
        @extend %dmsans-500;

    }

    &__line {
        height: 30px;
        width: 0.1px;
        background-color: #ffffff;
        position: absolute;
        top: -7px;
        right: -39px;
    }
}



.slick-slider {
    height: 820px;
}

.slider {
    &__item {
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        @extend %rubik-400;
    }

    &__inner {
        display: flex;
        font-size: 18px;
        flex-direction: column;
        justify-content: center;
        padding-left: 300px;
        padding-bottom: 60px;
        height: 820px;
    }

    &__info {
        max-width: 450px;
    }

    &__title {
        font-size: 72px;
        line-height: 1;
        margin-bottom: 25px;
        color: #243f4d;
        @extend %rubik-500;
        text-transform: uppercase;
    }

    &__text {
        margin-bottom: 45px;
        line-height: 1;
    }

    &__text p {
        margin-bottom: 13px;
    }

    &__text p:last-child {
        margin: 0;
    }

    &__button {
        padding-left: 25px;
        display: flex;
        align-items: center;
        color: #ffffff;
        width: 200px;
        height: 60px;
        background-color: $btn-color;
        position: relative;
        @extend %rubik-500
    }

    &__button::after {
        content: "";
        position: absolute;
        top: 25px;
        right: 19px;
        width: 22px;
        height: 9px;
        background-image: url('../images/arrow.png');
    }

}

.slick-dots {
    display: flex;
    justify-content: center;
    transform: translate(0, -71px);
    @extend %rubik-400;

    li {
        margin-right: 12px;

        button {
            width: 30px;
            height: 29px;
            background-color: #fde3cc;
            border-radius: 50%;
            border: 0;
        }

        &.slick-active button {
            background-color: #fff;
        }
    }
}


.info {
    background-color: #fef7f0;
    position: relative;

    &__items {
        display: flex;
        justify-content: space-around;
        align-items: center;

        p {
            @extend %dmsans-400;
            color: rgb(88, 88, 88);
            line-height: 1.8;
        }


    }

    &__item {
        position: relative;
        padding-top: 35px;
        padding-bottom: 47px;
        padding-right: 150px;
        margin-left: 220px;

        .info__title {
            font-size: 18px;
            line-height: 2.0;
            color: rgb(65, 65, 65);
            @extend %dmsans-800;
        }
    }

    &__item::after {
        content: "";
        width: 50px;
        height: 50px;
        top: 50px;
        left: -77px;
        background-repeat: no-repeat;
        position: absolute;
    }

    &__item--24 {
        border-right: 1px solid #e8e4df;

    }

    &__item--truck {
        border-right: 1px solid #e8e4df;
    }

    &__item--24::after {
        background-image: url('../images/icons/24-icon.svg');

    }


    &__item--truck::after {
        background-image: url('../images/icons/truck-icon.svg');
    }

    &__item--credit::after {
        background-image: url('../images/icons/credit-icon.svg');
    }

}



.product {

    padding: 60px 0 188px;

    &__buttons {
        margin-bottom: 80px;
    }

    &__title {
        margin-bottom: 25px;
    }

    &__items {
        display: grid;
        height: 800px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 35px;
        grid-row-gap: 45px;
    }


    &__icons {
        display: flex;
        width: 100%;
        max-width: 140px;
        justify-content: space-between;
        transform: translateY(600%);
        transition: transform 0.3s
    }

    &__name {
        @extend %dmsans-500;
        color: #243f4d;
        line-height: 2.5;
    }

    &__price {
        @extend %dmsans-800;
        color: #a3bbc8;

    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 38px;
        background-repeat: no-repeat;
        background-color: rgb(255, 255, 255);
        background-position: 20px 28px;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        position: relative;
        overflow: hidden;
    }

    &__item:hover {
        .product__icons {
            transform: translateY(0);
        }
    }


    &__link {
        position: relative;
    }

    &__link::after {
        content: "";
        top: -14px;
        right: -11px;
        position: absolute;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        width: 45px;
        height: 45px;
        transition: all 0.3s;
    }

    &__link:hover:after {
        content: "";
        top: -14px;
        right: -11px;
        position: absolute;
        border-radius: 50%;
        background-color: #a3bac7;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        width: 45px;
        height: 45px;
    }

    &__link svg {
        position: relative;
        z-index: 2;
    }

    &__link {
        path {
            transition: all 0.3s;
        }
    }

    &__link :hover {
        path {
            fill: #fefefe;
        }
    }
}


.video {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -85px;
}

.design {
    padding-bottom: 140px;

    &__top {
        padding: 0 0 90px;
        display: flex;
        justify-content: space-between;

    }



    &__top-item {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
        height: 390px;
        max-width: 850px;
        background-color: $peach-color;
        position: relative;
    }

    &__top-item:last-child {
        margin: 0;
    }

    &__top-img {
        position: absolute;
        left: 136px;
        bottom: 85px;

    }

    &__top-inner {
        transform: translateX(145px);
        max-width: 355px;
        color: rgb(36, 63, 77);
    }

    &__top-title {
        @extend %dmsans-800;
        font-size: 26px;
        line-height: 1.2;
        margin-bottom: 25px;
        max-width: 255px
    }

    &__top-text {
        @extend %rubik-400;
        line-height: 1.8;
        margin-bottom: 38px;
    }

    &__top-link {
        display: block;
        position: relative;
        max-width: 180px;
        @extend %rubik-500;
        font-size: 15px;
        color: rgb(67, 99, 114);
        line-height: 0.8;
        border: 1px solid rgb(67, 99, 114);
        border-radius: 5px;
        background-color: rgba(36, 63, 77, 0);
        opacity: 0.4;
        padding-top: 23px;
        padding-bottom: 23px;
        padding-left: 20px;
    }

    &__top-link::after {
        content: "";
        position: absolute;
        background-image: url('../images/icons/arrow2.svg');
        top: 25px;
        right: 20px;
        width: 22px;
        height: 9px;
    }

    &__title {
        margin-bottom: 25px;
    }

    &__buttons {
        margin-bottom: 80px;
    }

    &__bottom-items {
        height: 500px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 35px;
    }

    &__bottom-link {
        display: block;
        height: 100%;
    }

    &__bottom-item {
        background-repeat: no-repeat;
        padding-top: 40px;
        padding-left: 35px;
        height: 100%;
    }

    &__info {
        max-width: 175px;
        line-height: 1.2;
        @extend %dmsans-800;
    }

    &__name {
        font-size: 20px;
        color: rgb(26, 26, 26);
        margin-bottom: 10px;
    }

    &__type {
        color: rgb(163, 187, 200);
    }
}

/* login-page */
.top {
    text-align: center;
    padding: 35px 0 25px;
    background-color: #edf1f4;

    &__title {
        font-size: 36px;
        color: rgb(34, 41, 51);
        margin-bottom: 5px;
        @extend %Rubik-light;
    }
}


.registr {
    padding: 120px 0 116px;
    max-width: 500px;
    margin: 0 auto;
    color: #436372;
    @extend %rubik-400;

    &__wrapper {
        border-bottom: 2px solid #f6f6f6;
        margin-bottom: 30px;
    }


    &__label {
        display: block;
        margin-bottom: 30px;
    }

    &__label:last-child {
        margin: 0;
    }

    &__input {
        display: block;
        width: 100%;
        padding: 16px 10px 16px;
        border: 2px solid rgb(246, 246, 246);
        margin-top: 10px;
    }


    &__button,
    &__account {
        border: none;
        display: block;
        width: 100%;
        padding: 23px 0 23px;
        margin-bottom: 30px;
        background-color: $btn-color;
        @extend %rubik-500;
        font-size: 18px;
        color: #fff;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__problem {
        display: block;
        margin-bottom: 25px;

    }

    &__account {
        display: block;
        width: 100%;
        background-color: #fff;
        border: 2px solid rgb(163, 187, 200);
        color: #243f4d;
    }
}

/* terms-page */
.terms {

    

    padding: 120px 0 0px;
    color: rgb(36, 63, 77);

    &__container {
        max-width: 1320px;
        margin: 0 auto;
        padding: 0 60px;
    }

    &__item , &__collect{
        margin-bottom: 75px;
    }

    &__title {
        font-size: 24px;
        line-height: 1.667;
        @extend %rubik-500;
        margin-bottom: 35px;
    }

    &__wrapper{
        margin-left: 40px;
    }
    
    &__info {
        margin-bottom: 30px;
        position: relative;
        @extend %rubik-400;
        font-size: 16px;
        line-height: 1.875;
    }

    &__count {
        position: absolute;
        left: -25px;
        top: 0;
    }

    &__main{
        margin-bottom: 23px;
    }
}




/* footer */
.footer {
    background-color: #fff;
    @extend %rubik-400;
    color: #7b7b7b;
}


.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 73px 0 35px;
    border-bottom: 1px solid #dae4e9;

    &__item {
        max-width: 220px;
    }

    &__item:first-child {
        transform: translateY(-10px);
    }

    &__title {
        color: #1f2044;
        @extend %dmsans-800;
        font-size: 16px;
        line-height: 1.3;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    &__text {
        font-size: 14px;
        line-height: 2.2;
        margin-bottom: 35px;
    }

    &__adress {
        display: block;
        line-height: 1.7;
        font-size: 14px;
    }

    &__tel {
        display: block;
        font-size: 14px;
        line-height: 2.3;
    }

    &__email {
        display: block;
        font-size: 14px;
        line-height: 2.3;
    }

    &__item-form {
        max-width: 270px;
    }

    &__input-form {
        background-color: $peach-color;
        border: none;
        padding: 14px 15px;
        max-width: 155px;

        &::placeholder {
            color: #234969;
            @extend %dmsans-400;
            font-size: 14px;
        }
    }

    &__btn {
        border: none;
        background-color: $btn-color;
        padding: 14px 16px;
        color: #fff;
    }
}


/* .insights-terms{
    max-width: 1200px;
    margin: 0 auto;
} */

.insights {
    transform: translateY(195px);

    &__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 45px;
    }

    &__title {
        text-align: start;
    }

    &__btn {
        font-size: 16px;
        align-self: center;
        color: rgb(38, 38, 38);
        line-height: 1.2;
        @extend %dmsans-800;
        position: relative;
        align-self: flex-end;
    }

    &__btn::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        top: 4px;
        left: 85px;
        height: 14px;
        width: 12px;
        background-image: url('../images/icons/arrow-insight.svg');
    }


    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 370px;
        background-color: #fff;
        position: relative;
    }

    &__item:nth-child(3) {
        .insights__text {
            padding-bottom: 40px;
        }
    }

    &__news {
        display: flex;
        align-items: center;
        position: absolute;
        top: 235px;
        left: 30px;
        width: 103px;
        height: 30px;
        background-color: #a3bbc8;
        border-radius: 23px;
        padding: 10px 32px;
        font-size: 14px;
        color: #fff;
        line-height: 1.5;
        text-transform: uppercase;
        @extend %Poppins-Bold;
    }

    &__block {
        padding-left: 30px;
    }



    &__text {
        padding: 35px 0 18px;
        max-width: 316px;
        @extend %dmsans-500;
        border-bottom: 1px solid #e0e0e0;
        font-size: 18px;
        line-height: 1.2;
        color: rgb(38, 38, 38);
    }

    &__info {
        display: flex;
        max-width: 240px;
        padding: 20px 0 25px;
        color: rgb(34, 41, 51);
        text-transform: uppercase;
        font-size: 12px;
        line-height: 2.5;
        @extend %myriadpro-regular;
    }

    &__data {
        margin-right: 35px;
    }
}

.partners {
    padding: 230px 0 40px;
    background-color: $peach-color;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 170px;
        margin: 0 auto;
        max-width: 1050px;

    }

}

.partners-less {
    padding: 43px 0 40px;
}

.footer-bottom {
    padding: 36px 0 36px;
    display: flex;
    justify-content: space-between;

    &__item {
        display: flex;
    }

    &__list {
        padding-right: 12px;
        margin-right: 20px;
        border-right: 1px solid #7b7b7b;

        &:last-child {
            border: none;
            margin: 0;
        }
    }

    &__copy {
        font-size: 14px;
    }
}




@import'media';