@import 'vars';
@import 'fonts';
@import 'reset';
@import 'lib';
@import 'global';


.header {
    padding-top: 60px;
    color: $header-color;

    &__top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 55px;
        @extend %dmsans-800;
    }
}

.logo {
    position: relative;

    span {
        top: 0;
        left: 55px;
        font-size: 36px;
        position: absolute;
    }
}

.menu {

    &__btn {
        display: none;
    }

    font-size: 15px;

    &__item {
        display: flex;
    }

    &__list {
        margin-right: 35px;
    }

    &__list:last-child {
        margin: 0;
    }
}

.user-nav {
    max-width: 320px;
    flex-grow: 1;

    &__box-inner {
        justify-content: space-between;
        display: flex;
    }

    &__box {
        width: 52px;
        height: 52px;
        background-color: #edf1f4;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

    }


    &__box-middle {
        border-radius: 25px;
        width: 178px;
        height: 51px;
        background-color: rgb(252, 215, 182);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__box--end {
        background-color: $btn-color;
    }

    &__box-img {
        position: relative;
    }

    &__box-img--line::after {
        content: '';
        height: 30px;
        width: 0.1px;
        background-color: #ffffff;
        position: absolute;
        top: -7px;
        right: -39px;
    }

    &__num {
        position: absolute;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        font-size: 10px;
        top: -5px;
        right: -7px;
        background-color: #ffffff;
        z-index: 2;
        @extend %dmsans-500;
        text-align: center;
    }

    &__box-item {
        max-width: 110px;
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
    }

    &__img {
        position: relative;
        z-index: 1;
    }

    &__img--heart {
        transform: scaleX(-1);
    }

}




.slider {
    &__item {
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        @extend %rubik-400;
    }

    &__inner {
        display: flex;
        font-size: 18px;
        flex-direction: column;
        justify-content: center;
        padding-left: 300px;
        padding-bottom: 60px;
        height: 820px;
    }

    &__info {
        max-width: 450px;
    }

    &__title {
        font-size: 72px;
        line-height: 1;
        margin-bottom: 25px;
        color: #243f4d;
        @extend %rubik-500;
        text-transform: uppercase;
    }

    &__text {
        margin-bottom: 45px;
        line-height: 1;
    }

    &__text p {
        margin-bottom: 13px;
    }

    &__text p:last-child {
        margin: 0;
    }

}

.slick-dots {
    display: flex;
    justify-content: center;
    transform: translate(0, -71px);
    @extend %rubik-400;

    li {
        margin-right: 12px;

        button {
            width: 30px;
            height: 29px;
            background-color: #fde3cc;
            border-radius: 50%;
            border: 0;
        }

        &.slick-active button {
            background-color: #fff;
        }
    }
}


.info {
    background-color: #fef7f0;
    position: relative;

    &__items {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: -30px;

        p {
            @extend %dmsans-400;
            color: rgb(88, 88, 88);
            line-height: 1.8;
        }


    }

    &__item {
        position: relative;
        padding-top: 35px;
        padding-bottom: 47px;
        padding-right: 150px;
        margin-left: 220px;

        .info__title {
            font-size: 18px;
            line-height: 2.0;
            color: rgb(65, 65, 65);
            @extend %dmsans-800;
        }
    }

    &__item::after {
        content: "";
        width: 50px;
        height: 50px;
        top: 50px;
        left: -77px;
        background-repeat: no-repeat;
        position: absolute;
    }

    &__item--24 {
        border-right: 1px solid #e8e4df;

    }

    &__item--truck {
        border-right: 1px solid #e8e4df;
    }

    &__item--24::after {
        background-image: url('../images/icons/24-icon.svg');

    }


    &__item--truck::after {
        background-image: url('../images/icons/truck-icon.svg');
    }

    &__item--credit::after {
        background-image: url('../images/icons/credit-icon.svg');
    }

}



.product {

    padding: 60px 0 188px;

    &__buttons {
        margin-bottom: 80px;
    }

    &__title {
        margin-bottom: 25px;
    }

    &__items {
        display: grid;
        height: 800px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 35px;
        grid-row-gap: 45px;
    }


    &__icons {
        display: flex;
        width: 100%;
        max-width: 140px;
        justify-content: space-between;
        transform: translateY(600%);
        transition: transform 0.3s
    }

    &__name {
        @extend %dmsans-500;
        color: #243f4d;
        line-height: 2.5;
    }

    &__price {
        @extend %dmsans-800;
        color: #a3bbc8;

    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 38px;
        background-repeat: no-repeat;
        background-color: rgb(255, 255, 255);
        background-position: 20px 28px;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        position: relative;
        overflow: hidden;
    }

    &__item:hover {
        .product__icons {
            transform: translateY(0);
        }
    }


    &__link {
        position: relative;
    }

    &__link::after {
        content: "";
        top: -14px;
        right: -11px;
        position: absolute;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        width: 45px;
        height: 45px;
        transition: all 0.3s;
    }

    &__link:hover:after {
        content: "";
        top: -14px;
        right: -11px;
        position: absolute;
        border-radius: 50%;
        background-color: #a3bac7;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        width: 45px;
        height: 45px;
    }

    &__link svg {
        position: relative;
        z-index: 2;
    }

    &__link {
        path {
            transition: all 0.3s;
        }
    }

    &__link:hover {
        path {
            fill: #fefefe;
        }

    }
}


.video {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -85px;
}

.design {
    padding-bottom: 140px;

    &__top {
        padding: 0 0 90px;
        display: flex;
        justify-content: space-between;

    }



    &__top-item {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
        height: 390px;
        max-width: 850px;
        background-color: $peach-color;
        position: relative;
    }

    &__top-item:last-child {
        margin: 0;
    }

    &__top-img {
        position: absolute;
        left: 136px;
        bottom: 85px;

    }

    &__top-inner {
        transform: translateX(145px);
        max-width: 355px;
        color: rgb(36, 63, 77);
    }

    &__top-title {
        @extend %dmsans-800;
        font-size: 26px;
        line-height: 1.2;
        margin-bottom: 25px;
        max-width: 255px
    }

    &__top-text {
        @extend %rubik-400;
        line-height: 1.8;
        margin-bottom: 38px;
    }

    &__top-link {
        display: block;
        position: relative;
        max-width: 180px;
        @extend %rubik-500;
        font-size: 15px;
        color: rgb(67, 99, 114);
        line-height: 0.8;
        border: 1px solid rgb(67, 99, 114);
        border-radius: 5px;
        background-color: rgba(36, 63, 77, 0);
        opacity: 0.4;
        padding-top: 23px;
        padding-bottom: 23px;
        padding-left: 20px;
    }

    &__top-link::after {
        content: "";
        position: absolute;
        background-image: url('../images/icons/arrow2.svg');
        top: 25px;
        right: 20px;
        width: 22px;
        height: 9px;
    }

    &__title {
        margin-bottom: 25px;
    }

    &__buttons {
        margin-bottom: 80px;
    }

    &__bottom-items {
        height: 500px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 35px;
    }

    &__bottom-link {
        display: block;
        height: 100%;
    }

    &__bottom-item {
        background-repeat: no-repeat;
        padding-top: 40px;
        padding-left: 35px;
        height: 100%;
    }

    &__info {
        max-width: 175px;
        line-height: 1.2;
        @extend %dmsans-800;
    }

    &__name {
        font-size: 20px;
        color: rgb(26, 26, 26);
        margin-bottom: 10px;
    }

    &__type {
        color: rgb(163, 187, 200);
    }
}

/* login-page */
.top {
    text-align: center;
    padding: 35px 0 25px;
    background-color: #edf1f4;

    &__title {
        font-size: 36px;
        color: rgb(34, 41, 51);
        margin-bottom: 5px;
        @extend %Rubik-light;
    }
}


.registr {
    padding: 120px 0 116px;
    max-width: 500px;
    margin: 0 auto;
    color: #436372;
    @extend %rubik-400;

    &__wrapper {
        border-bottom: 2px solid #f6f6f6;
        margin-bottom: 30px;
    }


    &__label {
        display: block;
        margin-bottom: 30px;
    }

    &__label:last-child {
        margin: 0;
    }

    &__input {
        display: block;
        width: 100%;
        padding: 16px 10px 16px;
        border: 2px solid rgb(246, 246, 246);
        margin-top: 10px;
    }


    &__button,
    &__account {
        border: none;
        display: block;
        width: 100%;
        padding: 23px 0 23px;
        margin-bottom: 30px;
        background-color: $btn-color;
        @extend %rubik-500;
        font-size: 18px;
        color: #fff;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__problem {
        display: block;
        margin-bottom: 25px;

    }

    &__account {
        display: block;
        width: 100%;
        background-color: #fff;
        border: 2px solid rgb(163, 187, 200);
        color: #243f4d;
    }
}

/* terms-page */
.terms {



    padding: 120px 0 0px;
    color: rgb(36, 63, 77);

    &__container {
        max-width: 1320px;
        margin: 0 auto;
        padding: 0 60px;
    }

    &__item,
    &__collect {
        margin-bottom: 75px;
    }

    &__title {
        font-size: 24px;
        line-height: 1.667;
        @extend %rubik-500;
        margin-bottom: 35px;
    }

    &__wrapper {
        margin-left: 40px;
    }

    &__info {
        margin-bottom: 30px;
        position: relative;
        @extend %rubik-400;
        font-size: 16px;
        line-height: 1.875;
    }

    &__count {
        position: absolute;
        left: -25px;
        top: 0;
    }

    &__main {
        margin-bottom: 23px;
    }
}


/* about-us-page */
.about-us {
    color: #243f4d;
    padding: 120px 0 120px;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        max-width: 557px;
    }

    &__exp {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 285px;
    }

    &__number {
        font-size: 140px;
        @extend %Rubik-bold;
        color: $btn-color;
    }

    &__info-exp {
        max-width: 100px;
        @extend %rubik-400;
    }


    &__title {
        margin-bottom: 33px;
    }

    &__text {
        line-height: 1.875;
        @extend %rubik-400;
        padding-bottom: 60px;
        border-bottom: 2px solid #e6eaf0;
    }

    &__lists {
        display: flex;
        justify-content: space-between;
        max-width: 530px;
        font-size: 36px;
        @extend %dmsans-800;
    }

    &__list {
        position: relative;
        padding-left: 60px;
        padding-right: 25px;
        border-right: 1px solid #e6eaf0;
        margin-top: 38px;
    }

    &__list:last-child {
        border: none;
    }

    &__list::after {
        content: "";
        position: absolute;
        top: 20px;
        left: 0;
        background-repeat: no-repeat;
    }

    &__list--project::after {
        background-image: url('../images/icons/project.svg');
        width: 37px;
        height: 37px;
    }

    &__list--revenue::after {
        background-image: url('../images/icons/revenue.svg');
        width: 43px;
        height: 40px;
    }

    &__list--awards::after {
        background-image: url('../images/icons/award.svg');
        width: 43px;
        height: 40px;
    }

    &__awards-name {
        font-size: 16px;
        color: #4c4c4c;
    }
}

.stats {
    color: #243f4d;
    background-color: #fcd7b6;

    &__items {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        max-width: 1065px;
        padding: 90px 0 80px;
        margin: 0 auto;
        text-align: center;
        @extend %dmsans-800;
    }

    &__img {
        margin: 0 auto 25px;
    }

    &__num {
        margin-bottom: 18px;
        font-size: 36px;
        position: relative;
    }

    &__num::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        background-color: #a3bbc8;
        bottom: 66px;
        right: 36px;
        width: 35px;
        height: 35px;
        opacity: 0.6;
    }

    &__info {
        font-size: 18px;
    }

    &__item {
        height: 150px;
    }
}

.team {
    padding: 125px 125px;
    color: #243f4d;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        max-width: 310px;
    }

    &__title {
        margin-bottom: 35px;
    }

    &__text {
        @extend %rubik-400;
        margin-bottom: 43px;

    }

    &__link {
        font-size: 15px;
        @extend %Poppins-Bold;
        border-radius: 5px;
        max-width: 170px;

    }

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 90px;
        grid-column-gap: 30px;
    }

    &__link::after {
        background-image: url('../images/arrow-team.svg');
        background-repeat: no-repeat;
        width: 15px;
        height: 11px;
        right: 20px;
    }

    &__item {
        position: relative;
    }

    &__item-info {
        display: flex;
        justify-content: space-between;
        padding: 27px 23px 27px;
        background-color: #fff;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
        position: absolute;
        width: 100%;
        max-width: 360px;
        bottom: -50px;
        left: -2px;
    }

    &__item-name {
        color: #436372;
        @extend %dmsans-800;
        font-size: 22px;
    }

    &__item-position {
        color: #565872;
        @extend %rubik-400;
    }

    &__social-items {
        display: flex;
    }

    &__social-item {
        margin-right: 7px;
    }

    &__social-item:last-child {
        margin: 0;
    }

}






/* footer */
.footer {
    background-color: #fff;
    @extend %rubik-400;
    color: #7b7b7b;
}


.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 73px 0 35px;
    border-bottom: 1px solid #dae4e9;

    &__item {
        max-width: 220px;
    }

    &__item:first-child {
        transform: translateY(-10px);
    }

    &__title {
        color: #1f2044;
        @extend %dmsans-800;
        font-size: 16px;
        line-height: 1.3;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    &__text {
        font-size: 14px;
        line-height: 2.2;
        margin-bottom: 35px;
    }

    &__adress {
        display: block;
        line-height: 1.7;
        font-size: 14px;
    }

    &__tel {
        display: block;
        font-size: 14px;
        line-height: 2.3;
    }

    &__email {
        display: block;
        font-size: 14px;
        line-height: 2.3;
    }

    &__item-form {
        max-width: 270px;
    }

    &__input-form {
        background-color: $peach-color;
        border: none;
        padding: 14px 15px;
        max-width: 155px;

        &::placeholder {
            color: #234969;
            @extend %dmsans-400;
            font-size: 14px;
        }
    }

    &__btn {
        border: none;
        background-color: $btn-color;
        padding: 14px 16px;
        color: #fff;
    }
}




.insights {
    transform: translateY(195px);

    &__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 45px;
    }

    &__title {
        text-align: start;
    }

    &__btn {
        font-size: 16px;
        align-self: center;
        color: rgb(38, 38, 38);
        line-height: 1.2;
        @extend %dmsans-800;
        position: relative;
        align-self: flex-end;
    }

    &__btn::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        top: 4px;
        left: 85px;
        height: 14px;
        width: 12px;
        background-image: url('../images/icons/arrow-insight.svg');
    }


    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 370px;
        background-color: #fff;
        position: relative;
    }

    &__item:nth-child(3) {
        .insights__text {
            padding-bottom: 40px;
        }
    }

    &__news {
        display: flex;
        align-items: center;
        position: absolute;
        top: 235px;
        left: 30px;
        width: 103px;
        height: 30px;
        background-color: #a3bbc8;
        border-radius: 23px;
        padding: 10px 32px;
        font-size: 14px;
        color: #fff;
        line-height: 1.5;
        text-transform: uppercase;
        @extend %Poppins-Bold;
    }

    &__block {
        padding-left: 30px;
    }



    &__text {
        padding: 35px 0 18px;
        max-width: 316px;
        @extend %dmsans-500;
        border-bottom: 1px solid #e0e0e0;
        font-size: 18px;
        line-height: 1.2;
        color: rgb(38, 38, 38);
    }

    &__info {
        display: flex;
        max-width: 240px;
        padding: 20px 0 25px;
        color: rgb(34, 41, 51);
        text-transform: uppercase;
        font-size: 12px;
        line-height: 2.5;
        @extend %myriadpro-regular;
    }

    &__data {
        margin-right: 35px;
    }
}

.partners {
    padding: 230px 0 40px;
    background-color: $peach-color;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 170px;
        margin: 0 auto;
        max-width: 1050px;

    }

}

.partners-less {
    padding: 43px 0 40px;
}

.footer-bottom {
    padding: 36px 0 36px;
    display: flex;
    justify-content: space-between;

    &__item {
        display: flex;
    }

    &__list {
        padding-right: 12px;
        margin-right: 20px;
        border-right: 1px solid #7b7b7b;

        &:last-child {
            border: none;
            margin: 0;
        }
    }

    &__copy {
        font-size: 14px;
    }
}


.shop {
    padding: 118px 0 120px;
    @extend %rubik-400;
    color: #243f4d;


    &__wrapper {
        display: flex;
        justify-content: space-between
    }

    .product__wrappern-inner {
        text-align: center;
    }

    &__items.shop__items--list {
        display: block;

        .product__item {
            display: block;
            background: none;
            box-shadow: none;
        }

        .product__item:hover {
            .product__icons {
                transform: translateY(0);
            }
        }

        .product__name {
            font-size: 40px;
        }

        .product__price {
            font-size: 30px;
        }

        .product__wrapper-box {
            display: flex;
            justify-content: space-between;
            max-width: 836px;
        }

        .product__wrappern-inner {
            flex-grow: 1;
            max-width: 440px;
            align-self: center;
        }

        .product__img-box {
            width: 370px;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #f2f2f2;
        }

        .product__img {
            height: 340px;
            object-fit: contain;
        }

        .product__icons {
            display: flex;
            max-width: 84px;
            transform: translateY(2500%);
        }



        .product__link::after {
            box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
            border-radius: 0;
        }

        .product__link:nth-child(2) {
            display: none;
        }
    }

    &__item {
        margin-bottom: 35px;

    }

    &__content {
        flex-grow: 1;
        max-width: 870px;
    }

    &__btns {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    &__btn {
        background: transparent;
        border: none;
        cursor: pointer;
        background-color: $btn-color;
        margin-right: 15px;
        padding: 10px;
        color: #ffffff;
    }

    &__btn:last-child {
        margin: 0;
    }

    &__btn.active {
        background-color: $title-color;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        grid-column-gap: 35px;
        grid-row-gap: 45px;

    }


}

.shop-filter {
    width: 270px;
}

.shop-category {

    &__input {
        width: 0px;
        height: 1px;
        position: absolute;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        padding: 14px 15px;
    }

    &__checkbox {
        background-image: url('../images/icons/arrow-shop.svg');
        width: 6px;
        height: 10px;
        background-repeat: no-repeat;
        align-self: center;

    }

    &__input:checked+&__box {
        background-color: #edf1f4
    }

}

/*shop-price */

.irs {
    .irs-bar {
        top: 25px;
        height: 4px;
        background-color: #c2d2db;
    }

    .irs-line {
        height: 2px;
    }

    .irs-from,
    .irs-to {
        display: none;
    }

    .irs-min,
    .irs-max {
        display: none;
    }

    .irs-handle {
        width: 15px;
        height: 15px;
        background-color: rgb(163, 187, 200);
    }

    .irs-handle>i:first-child {
        display: none;
    }

    .irs-handle {
        top: 19px;
    }
}

.shop-price {
    &__cost {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }

    .shop-price__from::before,
    .shop-price__to::before {
        content: '$';

    }

}

/* brand */
.shop-brand {

    &__input {
        width: 0px;
        position: absolute;
    }

    &__input:checked+&__box {
        background-color: #edf1f4;
    }

    &__input:checked+&__box &__num {
        color: #243f4d;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        padding: 14px 15px;
    }


    &__name {
        text-transform: uppercase;
    }

    &__num {
        color: #b3b3b3;
    }

}

/* shop-recent */


.shop-recent {
    font-size: 14px;
    color: #333333;
    @extend %dmsans-400;

    &__item {
        margin-bottom: 25px;
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        max-width: 186px;
    }

    &__wrapper {
        width: 67px;
        height: 67px;
        border: 2px solid rgb(229, 229, 229);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img {
        object-fit: contain;
    }


    .star {
        padding: 0;
    }

    &__title,
    .star {
        margin-bottom: 10px;
    }
}

.product-page {
    padding: 125px 0 0 0;
}

.product-one {

    &__inner {
        display: flex;
        justify-content: space-between
    }
}

.product-slider {
    display: flex;
    width: 555px;
    margin-right: 70px;

    &__thumb {
        width: 160px;
        margin-right: 30px;

    }

    &__thumb-item {
        width: 140px;
        height: 160px;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        border: 1px solid #f2f2f2;

        img {
            height: 160px;
            object-fit: cover;
        }
    }

    &__big {
        width: 378px;
        height: 575px;
    }

    &__big-item {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        border: 1px solid #f2f2f2;
        justify-content: center;
        width: 378px;
        height: 528px;

        img {
            height: 409px;
        }
    }
}

.product-content {
    @extend %rubik-400;
    max-width: 535px;
    color: #333333;

    &__title {
        font-size: 40px;
    }

    &__star {
        padding: 20px 0 35px;
    }

    &__price {
        font-size: 30px;
        color: #333333;
    }

    &__text {
        padding: 30px 0 30px;
        color: #243f4d;
        line-height: 1.8;
    }

    &__form {
        max-width: 370px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    /* input-style */
    .jq-number.product-content__input {
        position: relative;
        border: 1px solid $btn-color;
    }



    .jq-number__field input {
        text-align: center;
        line-height: 2;
        width: 100%;
        padding: 8px 9px;
        border: none;
        outline: none;
        background: none;
        font-size: 15px;
        color: #333333;
    }

    .jq-number {
        padding: 0 0 0 0;
    }

    .jq-number__spin {
        position: absolute;
        top: 50%;
        cursor: pointer;
        transform: translateY(-50%);
        height: 10px;
        width: 10px;
        height: 100%;
        width: 48px;
    }

    .jq-number__spin::after {
        content: '';
        position: absolute;
        width: 9px;
        height: 1px;
        top: 48%;
        background-color: #333333;
        right: 40%;
    }

    .jq-number__spin.minus {
        left: 0;
        border-right: 1px solid $btn-color;

    }

    .jq-number__spin.plus {
        right: 0;
        border-left: 1px solid $btn-color;
    }

    .jq-number__spin.plus::before {
        content: '';
        position: absolute;
        height: 9px;
        width: 1px;
        background-color: #333333;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
    }

    /* '' */

    &__input {
        max-width: 150px;
    }

    &__btn {
        font-size: 15px;
        text-transform: uppercase;
        color: #fff;
        padding: 17px 12px;
        background-color: $btn-color;
        border: none;
        border-radius: 5px;
        width: 100%;
        max-width: 200px;
    }
}

.product-info {
    &__list {
        display: flex;
        color: #243f4d;
    }

    &__list+&__list {
        margin-top: 16px;
    }
}

.product-tabs {
    &__top {
        display: flex;
        justify-content: center;
        margin-bottom: 36px;
    }

    &__item {
        max-width: 240px;
        flex-grow: 1;
        text-align: center;
        background-color: #edf1f4;
        padding: 18px 15px;
        border-radius: 5px;
        font-size: 18px;
        @extend %rubik-500;
    }

    &__item.product-tabs__item--active {
        color: #fff;
        background-color: $btn-color;
    }

    &__item+&__item {
        margin-left: 10px;
        cursor: pointer;
    }

    &__content-item.product-tabs__content-item--active {
        display: block;
    }

    &__content-item {
        display: none;
        color: #243f4d;
        @extend %rubik-400;
        line-height: 1.8;
    }
}

.related-product {
    padding: 117px 0 0 0;

    .slick-slider {

        .slick-prev,
        .slick-next {
            position: absolute;
            top: -85px;
            right: 0;
            z-index: 5;
            border: none;
            background: none;
            width: 50px;
            height: 50px;
            border: 2px solid $btn-color;
            border-radius: 5px;
        }

        .slick-prev {
            right: 70px;
        }

        .slick-next {
            right: 0;
        }

        .slick-disabled {
            border-color: #edf1f4;
        }
    }

    &__title {
        color: #243f4d;
        font-size: 36px;
        @extend %dmsans-800;
        margin-bottom: 70px;
    }

    width: 1260px;

    .product__item {
        max-width: 270px;
        display: flex !important;
        height: 383px;
        margin-left: 30px;
        margin-top: 10px;
    }
}

.blog-page {
    padding: 120px 0 120px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 830px;
        position: relative;
        margin-bottom: 50px;
    }

    &__box {
        display: flex;
        width: 275px;
        background-color: $btn-color;
        padding: 30px 20px;
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        justify-content: space-between;
        position: absolute;
        top: 425px;
    }

    &__title {
        padding: 40px 0;
        text-align: left;
        color: #333333;
        @extend %rubik-400;
    }

    &__text {
        color: #243f4d;
        line-height: 1.8;
        margin-bottom: 35px;
    }

    &__date,
    &__author {
        padding-left: 14px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            width: 10px;
            height: 10px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__date::before {
        background-image: url('../images/icons/calendar-days-solid.svg');
    }

    &__author::before {
        background-image: url('../images/icons/user-solid.svg');
    }

    &__btn {
        max-width: 180px;
        background: none;
        padding: 20px 60px 20px 20px;
        width: 100%;
        max-width: 180px;
        border: 1px solid $btn-color;
        position: relative;

        &::after {
            content: '';
            background-repeat: no-repeat;
            position: absolute;
            right: 17px;
            top: 50%;
            transform: translateY(-50%);
            background-image: url('../images/icons/arrow2.svg');
            width: 22px;
            height: 9px;
        }
    }

    &__aside {
        flex-grow: 1;
        max-width: 270px;
    }

    &__form {
        display: flex;
        margin-bottom: 60px;
    }

    .shop-filter__category {
        margin-bottom: 45px;
    }

    &__input {
        background-color: #fff;
        height: 41px;
        border: 1px solid #edf1f4;
        border-radius: 5px;
        outline: none;
    }

    &__form-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        background-color: #edf1f4;
        border-radius: 5px;
        border: none;
        transform: translateX(-10px);
        cursor: pointer;
    }


    .pagination {
        justify-content: flex-start;
        padding-top: 76px;
    }
}

.posts {
    &__item {
        @extend %rubik-400;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 20px;
    }

    &__item:last-child {
        margin: 0;
    }

    img {
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    &__content {
        max-width: 170px;
    }

    &__date {
        font-size: 12px;
        color: #9a9a9a;
        padding-left: 20px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            background-image: url('../images/icons/calendar-days-solid-grey.svg');
            width: 12px;
            height: 11px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.blog-details {
    @extend %rubik-400;

    line-height: 1.8;

    &__item {
        img {
            margin-bottom: 40px;
        }
    }

    h4 {
        font-size: 36px;
        color: #333333;
    }

    p {
        margin: 30px 0;
        @extend %myriadpro-regular;
        color: #243f4d;
    }

    p+p {
        @extend %rubik-400;
    }

    figure {
        margin-top: 40px;
        background-color: #edf1f4;
        padding: 20px 40px;
        position: relative;
        color: #243f4d;
        height: 130px;
        margin-bottom: 45px;

        &::after {
            content: '';
            position: absolute;
            height: 100%;
            width: 8px;
            background-color: $btn-color;
            top: 0;
            left: 0;
        }
    }

    cite {
        font-style: normal;
        padding-left: 45px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 5px;
            background-color: $btn-color;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__text {
        display: flex;
        justify-content: space-between;
        margin-bottom: 45px;

        img {
            margin: 0;
        }

        h4 {
            font-size: 18px;
            color: #243f4d;
            @extend %rubik-500;

        }
    }

    .blog-details__text p {
        line-height: 1.8;
        color: #565872;
        @extend %rubik-400;
    }

    &__text-inner {
        max-width: 470px;
    }

    &__text-info {
        h4 {
            font-size: 18px;
            color: #243f4d;
            @extend %rubik-500;

        }

        p {
            line-height: 1.8;
            color: #565872;
            @extend %rubik-400;
        }
    }


    &__author {
        display: flex;
        justify-content: space-between;
        @extend %rubik-400;
        padding: 25px 0 25px;
        border: 1px solid #ebebeb;
        border-left: none;
        border-right: none;
        align-items: center;
        margin-bottom: 65px;

        img {
            margin: 0;
        }
    }

    &__author-inner {
        display: flex;
        justify-content: space-between;
        width: 270px;
    }

    &__author-name {
        font-size: 18px;
        color: #333333;
        @extend %rubik-500;
    }

    &__author-work {
        color: #bbbbbb;
    }

    &__author-tags {
        span {
            margin-left: 18px;
            color: #a1a1a1;
        }
    }

    &__share {
        display: flex;
        width: 188px;
        justify-content: space-between;
    }

    &__share-items {
        display: flex;
        max-width: 120px;
        align-items: center;
        flex-grow: 1;
        justify-content: space-between;
    }


    &__comments-title {
        color: #436372;
        margin-bottom: 60px;
    }

    &__comments-list:nth-child(even) {
        padding-left: 120px;

        .blog-details__comment-text {
            max-width: 550px;
        }
    }

    &__comment-item {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: 85px;
    }

    &__comments-list {
        margin-bottom: 30px;
    }

    &__comments-list:last-child {
        margin: 0;
    }

    &__comment-top {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: #d2d2d2;
        @extend %rubik-400;
    }

    &__comment-name {
        color: #436372;
        @extend %myriadpro-regular;
    }

    &__comment-img {
        height: 100px;
        width: 100px;
        object-fit: cover;
    }

    &__comment-box {
        max-width: 700px;
    }

    .blog-details__comment-text {
        margin: 25px 0 25px;
        color: #565872;
        @extend %rubik-400;
    }

    &__comment-link {
        color: #565872;
        @extend %rubik-400;
        padding-right: 40px;
        position: relative;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            background-image: url('../images/icons/arrow2.svg');
            width: 22px;
            height: 9px;
            background-repeat: no-repeat;
            right: 0;
            top: 50%;
            transform: translateY(-50%)
        }

    }

    &__form-input {
        height: 50px;
        display: block;
        border: 1px solid #e5e5e5;
        padding: 15px;
        width: 100%;

    }

    &__form-input:focus,
    &__form-textarea:focus {
        outline: solid 1px $btn-color;
    }

    &__input {
        width: 100%;
        position: relative;
        max-width: 400px;

        &::after {
            content: '';
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            width: 15px;
            height: 15px;
            background-repeat: no-repeat;
        }
    }

    &__input--user::after {
        background-image: url('../images/icons/user-input.svg');

    }

    &__input--mail::after {
        background-image: url('../images/icons/message-input.svg');
        width: 18px;
        height: 13px;
    }

    &__textarea--comment {
        width: 100%;
        position: relative;
    }

    &__textarea--comment {
        position: relative;
    }

    &__textarea--comment::after {
        content: '';
        position: absolute;
        background-image: url('../images/icons/comment.svg');
        width: 18px;
        height: 13px;
        top: 20px;
        right: 20px;
    }

    .blog-details__form-title {
        margin-bottom: 50px;
        font-size: 24px;
        color: #436372;
        @extend %Rubik-bold;
    }

    &__input-box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__form-textarea {
        width: 100%;
        height: 120px;
        resize: none;
        border: 1px solid #e5e5e5;
        padding: 15px;
        margin-bottom: 40px;
    }

    &__form-btn {
        text-transform: uppercase;
        @extend %rubik-400;
        font-size: 14px;
        background-color: $btn-color;
        color: #ffff;
        height: 50px;
        padding: 20px 30px;
        border: none;
        line-height: 0;
        cursor: pointer;
    }
}

.contact {
    padding: 120px 0 120px;

    &__connection {
        text-align: center;
        margin-bottom: 118px;
    }

    &__write {
        @extend %Poppins-Bold;
        color: $btn-color;
        font-size: 14px;
        margin-bottom: 15px;
    }

    &__title {
        @extend %dmsans-800;
        font-size: 35px;
        color: #436372;
        margin-bottom: 70px;
    }

    &__connection-items {
        display: flex;
        justify-content: space-between;
    }

    &__connection-list {
        max-width: 370px;
        height: 375px;
        background-color: #fbfbfb;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    &__connection-list:hover {

        .contact__box-img {
            background-color: $btn-color;
            transition: all 0.3s;
        }

        path {
            transition: all 0.3s;
            fill: #fff;
        }
    }

    &__connection-list:nth-child(2),
    &__connection-list:nth-child(3) {
        .contact__connection-info {
            max-width: 260px;
        }
    }

    &__box-img {
        height: 80px;
        width: 80px;
        background-color: #ffffff;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
    }

    &__connection-name {
        margin-bottom: 25px;
        @extend %dmsans-800;
        color: #222222;
    }

    &__connection-info {
        max-width: 160px;
        @extend %rubik-400;
        color: #565872;
        line-height: 1.8;
    }

    &__map-inner {
        display: flex;
        justify-content: space-between;
    }

    .form__connetion {
        max-width: 615px;
        width: 100%;
    }

    .blog-details__input {
        max-width: 300px;
    }

    .blog-details__form-btn {
        text-transform: uppercase;
        border-radius: 5px;
        max-width: 200px;
        width: 100%;
        cursor: pointer;
    }

    #map {
        width: 500px;
        height: 335px;
    }
}

@import'media';